/* Navigation Bar TOP */
.navbar{
    font-size: 14px;
}
.navbar-nav a{
    color: black;
    margin: 0 auto;
}

/* Navigation Bar Bottom */
.fixed-bottom{
    background-color:#f2f2f2;
    font-size: 15px;
}

/* Google Logo */
.googleLogo{
    text-align: center;
    margin-top:145px;
    margin-bottom: 27px;
}

/* Search Bar */
.searchbar {
    height: 45px;
    width: 582px;
    border: 1px solid #dcdcdc;
    border-radius: 50pt;
    padding-left: 30pt;
}

.searchbar:hover{
    box-shadow: 1px 1px 10px 1px #dcdcdc;
}

.bar-div{
    text-align: center;
    padding-right: 17pt;
}

.bar-div .fas{
    position: relative;
    left: 25pt;
    color: #9aa0a6 ;
    width: 10pt;
}

/* search.html Google Buttons */
form.searchbar-GoogleSearch .buttons {
    margin-top: 30px;
    text-align: center;
}

form.searchbar-GoogleSearch button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color:#5F6368;
    font-size:15px;
    padding: 0px 16px;
    margin: -2px 4px;
    height: 36px;
    outline:none;
}

form.searchbar-GoogleSearch button:hover{
    border: 1px solid #c8c8c8;
    color:#808080;
}

/* image_search.html Logo text (images) */
.logo-subtext{
    color: #4285f4;
    font: 16px/16px arial, sans-serif;
    position: relative;
    top: -12pt;
    padding-left: 157pt;
    white-space: nowrap;
}

/* image-search.html search images button */
#bar-div-imSearch button{
    position: relative;
    right: 40pt;
    background-color: transparent;
    border: none;
}

#bar-div-imSearch .fa{
    background-color: none;
    color: #4285f4;;
}

/* make image-search.html smaller, like on images.google.com  */
#bar-div-imSearch{
    margin-left: 38pt;
    margin-top: -16pt;
}

#searchbar-imSearch{
    width: 540px;
}

.brandLogo{
    height: 30.5px;
}

#navbar-advSearch{
    display: inline !important;
}

#advSearch-topNavBar{
    background-color: #f1f1f1;
}

.advSearchTitle{
    margin:26px 44px;
    color: #d93025;
    font: 20px arial;
}


/* Separation Line between Form and "Advanced Search" */
.line{
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 30pt;
}


/* New Form with labels  */
.block{
    margin-left: 35pt;
    margin-bottom: 8pt;
    font-size: 10pt;
    font-family: Arial;
    color: #555;
}

/* Right Side Description  */
.description{
    margin: 0 5pt;
    display: inline-flex;
    width: 300pt;
    font-size: 9pt;
    vertical-align: middle;
}

/* Input Fields  */
.inputField{
    height: 22pt;
    min-width: 50pt;
    width: 30%;
}

.smallInputField{
    height: 22pt;
    min-width: 50pt;
    width: 13.8%;
}

/* Titles Line Elements  */
.Titles{
    margin-bottom: 13pt;
}

.topSpan1{
    display: inline-block;
    margin-left: 35pt;
}

.emptyDiv{
    display: inline-block;
    min-width: 160pt;
    width: 32%;
}

.topSpan2{
    display: inline-block;
}

/* Label settings  */
label {
    display: inline-block;
    width: 180px;
    text-align: left;
}​
