{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container py-3">
        {% if user.is_authenticated and currentPage == "index" %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" name="content" rows="5" placeholder="What's on your mind?"></textarea>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary ">Tweet</button>
                </div>
            </form>

        {% elif currentPage == "comment" %}
            <!-- Display main post on this page  -->
            <div class="container d-block pt-3">
                <div class="card my-3">
                    <div class="card-header bg-light">
                        <h5><a href="{% url 'profile' mainPost.creator %}">{{ mainPost.creator }}</a>
                            <small class="text-muted"> on {{ mainPost.timestamp }}</small>
                            <input type="hidden" id="post_id" value="{{ post.id }}">
                            {% if mainPost.creator == user %}
                                <button type="submit" id="edit" class="btn btn-primary btn-sm float-right">Edit</button>
                            {% endif %}
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text content">{{ mainPost.content }}</p>
                    </div>
                    <div class="card-footer bg-white row-fluid text-center">
                        <span class="">
                            <span id="num_likes">{{ mainPost.likes.all | length }}</span> 
                            {% if not user.is_authenticated %}
                                <i class="fa fa-heart text-danger"></i>
                            {% elif user in mainPost.likes.all %}
                                <button id="likeBtn" class="bg-transparent border-0 p-0 m-0"><i class="fa fa-heart text-danger"></i></button>
                            {% else %}
                                <button id="likeBtn" class="bg-transparent border-0 p-0 m-0"><i class="far fa-heart text-danger"></i></button>
                            {% endif %}
                        </span>
                        <span class="ml-5">
                            <span id="num_comments">{{ mainPost.comments.all | length }}</span>
                            <button id="commentsBtn" class="bg-transparent border-0 p-0 m-0"><i class="fas fa-comments"></i></button> 
                        </span>
                    </div>
                </div>
            </div>

            <!-- Comments section  -->
            <div class="container panel panel-default widget mt-4">
                <!-- Add your own comment  -->
                <div class="panel-heading">
                    {% if user.is_authenticated %}
                    <h3 class="panel-title"> Post a comment </h3>
                        <form class="mt-2" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <textarea name="comment" class="form-control" rows="3" placeholder="What are your thoughts?"></textarea>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary btn-sm">Comment</button>
                            </div>
                        </form>
                    {% else %}
                        <h3 class="panel-title"> Comments </h3>
                    {% endif %}
                </div>

                <!-- Display All Comments -->
                <div class="container panel-body mt-3">
                    <ul class="list-group">
                        {% for comment in comments.object_list %}
                        <li class="list-group-item my-2">
                            <span class="content">{{ comment.content }}</span>
                            <div class="mic-info mt-2">
                                Posted by {{ comment.creator }} on {{ comment.timestamp }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


            <!-- Pagination Buttons -->
            {% if comments.paginator.num_pages > 1 %}
                <nav aria-label="..." class="pt-3">
                    <ul class="pagination justify-content-center ">
                        <li class="page-item {% if not comments.has_previous %} disabled {% endif %}">
                            <a class="page-link" href="{{ previousURL }}" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        {% for i in comments.paginator.page_range %}
                            {% if i == comments.number %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{ i }}">{{ i }} <span class="sr-only">(current)</span></a>
                                </li>
                            {% elif i >= comments.number|add:-2 and i <= comments.number|add:2 %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li class="page-item {% if not comments.has_next %} disabled {% endif %}">
                            <a class="page-link " href="{{nextURL}}">Next</a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        {% endif %}
    </div>

    <!-- Posts are filled from the layout form where the post data is sent from django -->
{% endblock %}

