{% extends "network/layout.html" %}

{% block body %}
<div class="container">
    <!-- Profile Details header and follow button -->
    <h2 class="text-center mt-4">
        Profile Details 
        {% if user.is_authenticated %}
            {% if showFollow == 1 %}
                <button class="btn btn-primary btn-sm" id="followBtn">
                    Follow
                </button>
            {% elif showFollow == 2 %}
                <button class="btn btn-primary btn-sm" id="followBtn">
                    Unfollow
                </button>
            {% endif %}
        {% endif %}
    </h2>

    <!-- Details Table -->
    <table class="table mt-5 mb-4 responsive">
        <tbody>
            <tr>
                <td> Username </td>
                <td class="text-right">{{ profile.username }}</td>
            </tr>
            <tr>
                <td>E-mail Adress</td>
                <td class="text-right">{{ profile.email }}</td>
            </tr>
            <tr>
                <td># Followers</td>
                <td class="text-right">{{ profile.followers.all | length }}</td>
            </tr>
            <tr>
                <td># Following</td>
                <td class="text-right">{{ profile.follows.all | length }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Post List -->
    <h2 class="text-center my-5">Posts</h2>

    <!-- Posts are filled from the layout form where the post data is sent from django -->
</div>
{% endblock %}

