{% extends "network/layout.html" %}

<!-- Pass Django template variables to javascript  -->
{% block django-to-js %}
<script type="text/javascript">
    const profile_id = "{{ profile.id }}"
</script>
{% endblock %}

{% block body %}
<div class="container">
    <!-- Profile Details header and follow button -->
    <h2 class="text-center pt-4">
        Profile Details 
        {% if user.is_authenticated and request.user != profile %}
            {% if profile not in request.user.follows.all %}
                <button class="btn btn-primary btn-sm align-middle" id="followBtn">
                    Follow
                </button>
            {% else %}
                <button class="btn btn-primary btn-sm align-middle" id="followBtn">
                    Unfollow
                </button>
            {% endif %}
        {% endif %}
    </h2>

    <!-- Details Table -->
    <table class="table mt-5 mb-4 responsive">
        <tbody>
            <tr>
                <td> Username </td>
                <td class="text-right">{{ profile.username }}</td>
            </tr>
            <tr>
                <td>E-mail Adress</td>
                <td class="text-right">{{ profile.email }}</td>
            </tr>
            <tr>
                <td># Followers</td>
                <td class="text-right">{{ profile.followers.all | length }}</td>
            </tr>
            <tr>
                <td># Following</td>
                <td class="text-right">{{ profile.follows.all | length }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Post List -->
    <h2 class="text-center my-5">Posts</h2>

    <!-- Posts are filled from the layout form where the post data is sent from django -->
</div>
{% endblock %}

