{% extends "courses/layout.html" %}
{% load static %}

{% block main %}
<main>
    <!--? slider Area Start-->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <div class="single-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2 text-center">
                                <h1 data-animation="bounceIn" data-delay="0.2s">{{ course.title }}</h1>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </section>


    <div class="courses_details_info">
        <div class="container">
            <!-- Details Table -->
            <table class="table responsive">
                <tbody>
                    <tr>
                        <td class="text-heading"><i class="fas fa-chalkboard-teacher mr-3"></i>Instructor:</td>
                        <td class="text-right align-middle">{{ course.creator.get_full_name }}</td>
                        <td class="text-heading"><i class="far fa-clock ml-5 mr-4"></i>Length:</td>
                        <td class="text-right align-middle">{{ course.length }}</td>
                    </tr>
                    <tr>
                        <td class="text-heading"><i class="fas fa-tachometer-alt mr-4"></i>Effort:</td>
                        <td class="text-right align-middle">{{ course.effort }}</td>
                        <td class="text-heading"><i class="fas fa-tags ml-5 mr-4"></i>Price:</td>
                        <td class="text-right align-middle">{{ course.price }}</td>
                    </tr>
                    <tr>
                        <td class="text-heading"><i class="fas fa-graduation-cap mr-4"></i>Topic:</td>
                        <td class="text-right align-middle">{{ course.topic }}</td>
                        <td class="text-heading"><i class="fas fa-certificate ml-5 mr-4"></i>Level:</td>
                        <td class="text-right align-middle">{{ course.level }}</td>
                    </tr>
                    <tr>
                        <td class="text-heading"><i class="fas fa-language mr-3"></i>Language:</td>
                        <td class="text-right align-middle">{{ course.language }}</td>
                        <td class="text-heading"><i class="fas fa-running ml-5 mr-4"></i>Course Type:</td>
                        <td class="text-right align-middle">{{ course.type }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center my-5">
                <form class="form-contact contact_form"  method="post" action="{% url 'course_details' course.id%}">
                    {% csrf_token %}
                    <!-- <input class="btn btn-primary" type="submit" name="buyCourse" value="Buy Course">  -->
                    <button class="btn btn-primary" type="submit" name="buyCourse" >Buy Course</button>
                </form>
                <!-- <a href="{% url 'course_details' course.id %}" name="buyCourse" class="btn">Buy Course</a> -->
            </div>

            <!-- About this course -->
            <div class="single_courses">
                <h3>About this course</h3>
                <p class="preline">{{ course.description }}</p>
            </div>

            <!-- Course Summary  -->
            <div class="single_courses">
                <h3 class="second_title">Course Outline</h3>
                <p class="preline">{{ course.outline }}</p>
            </div>            

            <!-- Write feedback part  -->
            {% if request.user.is_authenticated %}
            <div class=" mx-auto single_courses">
                <form class="form-contact contact_form"  method="post" action="{% url 'course_details' course.id%}">
                    {% csrf_token %}
                    <h3 class="second_title mb-3">Write your feedback</h3>
                    <p>Your rating</p>
                    <p class="mb-5">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </p>

                    <div class="form-group">
                        <textarea class="form-control border border-secondary rounded" name="content" id="" cols="30" rows="10" required placeholder="I think..."></textarea>
                    </div>
                    <div class="col-12 mt-5 text-center">
                        <input class="btn btn-primary" type="submit" value="Write your feedback"> 
                    </div>
                </form>
            </div>
            {% endif %}

            <!-- Display All Comments -->
            <div class="comments-area p-0">
                <h1 class="d1 mb-5">{{ course.comments.all | length }} Comments</h1>
                {% for comment in course.comments.all reversed %}
                <div class="comment-list">
                    <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                            <div class="thumb mt-3">
                                <i class="fas fa-user fa-3x"></i>                            </div>
                            <div class="desc">
                                <p class="comment preline">{{comment.content}}</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <h5>
                                            <a href="{% url 'profile' comment.creator.id %}">{{ comment.creator.first_name }}</a>
                                        </h5>
                                        <p class="date">{{ comment.timestamp }} </p>
                                    </div>
                                    <!-- <div class="reply-btn ">
                                        <a href="#" class="btn-reply text-uppercase">reply</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% endblock %}