body {
    background-color: #e9f3f7;
}

/* Navigation Bar Settings  */
nav {
    /* width: 100%; */
    background-color: #35464d;
}

.nav-link {
    font-size: large;
}

.navbar-brand {
    border: 2px solid black;
    border-radius: 25px;
    padding: 5pt;
    background-color: #E7D19A;
    font-size: x-large;
}

.img-class img, .img-details{
    height: 90%; 
    width: auto; 
    max-height: 700px;
    max-width: 700px;
    object-fit: scale-down;
}

.img-class {
    display: flex;
    justify-content: center;
    align-items: center; 
    height:250px;
    width: auto;
}

.rounded {
    border-radius: 2rem!important
}


.text {
    white-space: pre-line;
}

/* Index page description  */
.truncated {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Comments  */
.widget .panel-title { 
    display:inline 
}

.widget li.list-group-item {
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ddd;
}

.widget li.list-group-item:hover {
    background-color: rgba(86,61,124,.1); 
}

.widget .mic-info { 
    color: #666666;
    font-size: 14px; 
}

.card:hover {
    border-color: cornflowerblue !important;

}



