{% extends "auctions/layout.html" %}

{% block body %}
    <h1 class="display-5 text-center m-4 mb-5">Active Listings</h1>

    {% for listing in listings %}
        <div class="container my-4 border border-secondary rounded">
            <div class="row equal">
                <div class="col-md-5 col-sd-12">
                    <div class="img-class">
                        <img src= {{ listing.imageURL }} alt="No image uploaded">      
                    </div>
                </div>
                <div class="col-md-7 col-sd-12">
                    <h4 class="card-title my-2">{{ listing.title }}</h4>
                        {{ listing }} 
                    <p class="card-text">Description</p>
                    <p class="">Created {{ listing.createdAt }}</p>
                    <a href="{% url 'details' listing.id %}" class="btn btn-primary">View Listing</a>
                </div>
            </div>
        </div>
    {% empty %}
        There are no listings.
    {% endfor %}

{% endblock %}